<div>


    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">
           Simple Metadata
        </div>
        <div class="panel-body">
            <p ng-if='ResultSets.DOC_INFO.xDescription !== ""'>{{ ResultSets.DOC_INFO.xComments | json }}</p>
            <p ng-if='!ResultSets.DOC_INFO.xDescription || ResultSets.DOC_INFO.xDescription == ""'>no description is available</p>
        </div>

        <!-- Table -->
        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Value</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in metadataSubSmall">
                <td>{{item.key}}</td>
                <td>{{item.val}}</td>
            </tr>
            </tbody>
        </table>
    </div>







</div>