<div>

    <div class="col-lg-12" breadcrumbs >breadcrumbs</div>

    <button ng-click="showFolderEditForm()">
        edit
    </button>
    <div class="col-lg-8">

        <div ng-repeat="result in Contents">



            <div ng-if="result.fFolderGUID" link-menu="folderActions" item="result" icon="cog" />

            <div ng-if="!result.fFolderGUID" link-menu="docActions" item="result" icon="cog" />



            <div class="media">

                <div class="pull-left img-thumbnail search-thumbnail-wrapper" ng-if="!result.fFolderGUID">
                    <a class=""
                       href="#"
                       ng-click="loadDocInfo(result.dID,result.dDocName)">
                        <img class="media-object"
                             ng-src="/cs/idcplg?IdcService=GET_FILE&amp;dID={{result.dID}}&Rendition=rendition:T">
                    </a>
                </div>


                <div class="pull-left" ng-if="result.fFolderGUID">
                    <a class=""
                       href="#"
                       ng-click="setFolderId(result.fFolderGUID)">
                        <img class="media-object"
                             ng-src="/assets/images/icons/folder-large.png" style="width:60px;height:auto">
                    </a>
                </div>


                <div class="media-body" ng-if="!result.fFolderGUID">

                    <h4 class="media-heading"><a href="#" ng-click="loadDocInfo(result.dID,result.dDocName)">{{result.fFolderName
                        ||
                        result.dDocTitle}}</a>
                    </h4>
                    <small>{{result.dDocLastModifier}} - {{result.dDocLastModifiedDate}}</small>
                    <p>{{result.dFormat}}</p>

                    <p>{{result.srfDocSnippet}}</p>

                </div>

                <div class="media-body" ng-if="result.fFolderGUID">

                    <h4 class="media-heading">
                        <a href="#" ng-click="setFolderId(result.fFolderGUID)">{{result.fFolderName}}</a>
                    </h4>
                    <!--<small>{{result.dDocLastModifier}} - {{result.dDocLastModifiedDate}}</small>-->
                    <small><strong>Owner:</strong> {{result.fOwner}} &mdash; <strong>Security Group: </strong>{{
                        result.fSecurityGroup }}
                    </small>
                </div>
            </div>

            <!--<h3><a href="#" ng-dblclick="setFolderId(item.fFolderGUID)">{{ item.fFolderName || item.dDocTitle }}</a></h3>-->
        </div>

        <div ng-if="!hasContents();">
            <div class="alert alert-warning"><strong>No Content: </strong> This folder has no contents</div>
        </div>

        <pre>

            {{ FolderInfo | json }}
        </pre>


    </div>

    <div class="col-lg-4">
    <div folder-info="/partials/browse/folder-info-panel.html"></div>


    </div>

</div>